<script>
    $(document).ready(function () {

        (function ($) {

            $('#header__icon').click(function (e) {
                e.preventDefault();
                $('body').toggleClass('with--sidebar');
            });

            $('#site-cache').click(function (e) {
                $('body').removeClass('with--sidebar');
            });

        })(jQuery);

    });
</script>

<header class="header">

    <a href="#" class="header__icon" id="header__icon"></a>
    <a href="#" class="header__logo">Logo</a>

    <nav class="menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
    </nav>

</header>


<app-fullsize-card></app-fullsize-card>