.bg {
    /* The image used */
    background-color: blue;
    background-image: url("../../../assets/img_parallax.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}